
<div class="card z-depth-3">
	<div class="card-content white-text">	
		<div class="col">
			<div class="card-panel grey lighten-5 z-depth-1">
				<span class="black-text">
							<strong>I don't know what to say. Let the world tell you more...;D</strong>
				</span>	
				<div class="row valign-wrapper">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4339293396006!2d106.62398851434705!3d10.854563260715809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a20be133a37%3A0x2222564f53ae228d!2zQ8O0bmcgdmnDqm4gcGjhuqduIG3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1459847280069" width="1269" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
