<div class="card z-depth-3">
	<div class="card-content">	
		<div class="col">
			<div class="card-panel grey lighten-5 z-depth-1">
				<h1>New Video</h1>
				<%= render 'form' %>				
			</div>
		</div>
	</div>
</div>
