<div class="card z-depth-3">
	<div class="card-content">	
		<p id="notice"><%= notice %></p>
		<div class="col m3">
			<div class="collection">
				<%= @videos.each do |video|%>
					<%= link_to video.title,video, :class => 'collection-item' %>
				<% end %>
			</div>
		</div>
		<div class="col m9">
			
		</div>		
	</div>
</div>
